@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
body{
    background-color: rgb(34, 34, 34);
    color: white;
    font-family: 'Courier New', Courier, monospace;
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#title{
    flex-direction: column;
    line-height: 10px;
}
li{
    display: inline-block;
    margin: 20px;
}
h1{
    font-weight: 200;
    
}
main{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}
h2{
    font-size: 56px;
    line-height: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
span{
    color: blueviolet;
}
p{
    line-height: 20px;
    max-width: 500px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
img{
    width: 600px;
}
a{
    color: aliceblue;
}
a:hover{
    color: blueviolet;
    transition: 0.3s all;
}
#inscreva-se-btn{
    border: solid 2px rgba(207, 32, 223, 0.651);
    border-radius: 20px;
    padding: 10px;
}
#inscreva-se-btn:hover{
    background-color: rgb(207, 32, 223);
    color: aliceblue;
}
form{
    display: flex;
    flex-direction: column;
    width: 70%;
}
input{
    margin-top: 20px;
    height: 20px;
    padding: 14px;
    border-radius: 20px;
    border: none;
    font-size: 20px;
}
#btn-enviar{
    height: 50px;
    width: 50%;
    background-color: rgb(207, 32, 223);
    color: aliceblue;
    font-weight: bold;
}
#btn-enviar:hover{
    cursor: pointer;
}
